[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick.git
[submodule "themes/terminal-lite"]
	path = themes/terminal-lite
	url = https://github.com/coolapso/hugo-theme-terminalcv
