/* Genel Stil */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
}

/* Sağ Bölüm (Harita) */
#right-panel {
    flex: 1;
    position: relative;
}

/* Duyuru Şeridi */
#duyuru-seridi-marquee {
    height: 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}